{% load staticfiles %}
{% load bootstrap %}
<html>
  {% csrf_token %}
    <head>
        <title>Stock Analyzer</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% include "navbar.html" %}

    </head>

	<style> 
		.flex-container {
		    display: -webkit-flex;
		    display: flex;
		    background-color: lightgrey;
		}

		.flex-item {
		    margin: 10px;
		}
	</style>

    <body>
      <div class="flex-item">
	{% for tick, price in tickers.items %}
	<p class="text-center">{{tick}}: {{price}}</p>
	{% endfor %}

       <form action="/add-stock/" method="post">
  	{% csrf_token %}
        <label for="stock_label"> Stock Ticker: </label>
        <input id="ticker" type="text" name="ticker" value="{{ stock_name }}">
        <input type="submit" value="Add">
       </form>

      </div>

      <footer> Copyright &copy; StockAnalyzer </footer>
    </body>

</html>

